*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.pyc
*.pyo
*.pyd
*.out
*.a
*.lib
*.csv

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

venv/
env/
ENV/
.venv/
.pipenv/

node_modules/

*.swp
*.bak
*.tmp
*.orig
*.rej

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

*.gcda
*.gcno
*.gcov
*.profraw
*.profdata