.resultsContainer {
  background: #e3e5e4;
  padding: 2.4rem 2rem;
  border-radius: 0.8rem;
  border-left: 0.4rem solid #73988a;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.resultsTitle {
  font-weight: 500;
  color: #171b1f;
  font-size: 1.6rem;
}

.resultsMono {
  font-family: "JetbrainsMono", "Cascadia Code", Consolas, monospace;
  color: #e3e5e4;
  background: #171b1f;
  padding: 0.2rem 0.4rem;
  border: 0.1rem solid #2d343a;
  border-radius: 0.4rem;
}

.timings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.timing {
  color: #e3e5e4;
  background: #202429;
  padding: 1.4rem 1.4rem;
  border: 0.1rem solid #2d343a;
  border-radius: 0.4rem;
  text-align: center;
  font-size: 1.4rem;
}
